body {
    text-align: center;
    font-family: Verdana;
    background-color: #333;
    color: #ffd500;
}

h1 {
    font-family: Monoton;
    font-size: 70px;
    margin: 0.2em;
    color:#9477cb;
}

h2 {
    margin: 1em 0 0.25em;
    color: #f8f8f8;
    /* color: #ffd500; */
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 6em;
}

button {
  background-color: #4CAF50;
  border: none;
  border-radius: 2px;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

/* button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
} */

.shadowClass{
    /* -moz-box-shadow: 3px 3px 4px #000; 
    -webkit-box-shadow: 3px 3px 4px #000;  */
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); 
 }
